/* Mobile-first: Styles par défaut pour les petits écrans (smartphones) */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

/* .main-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}*/

.contact {
    width: auto;
}

.contact a {
    display: block;
}

.container {
    display: grid;
    width: 90%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 14vh;
}

nav {
    display: flex;
    position: sticky;
    top: 0;
    background-color: #003064;
    width: 100vw;
    height: 14vh;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

.nav-element {
    font-size: small;
}

.nav-element a {
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.icone-telephone {
    width: 2rem;
}

.icone-mail {
    width: 2rem;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 28px;
    color: #333;
}

.section-title {
    font-size: 20px;
    color: #333;
    border-bottom: 2px solid #007BFF;
    margin-bottom: 10px;
}

.section {
    margin-bottom: 20px;
}

.list {
    margin: 2rem;
    padding: 0;
}

.list li {
    margin-bottom: 10px;
}

.list li span {
    font-weight: bold;
}

/* Responsive Design: Tablettes et plus grands écrans */
@media (min-width: 375px) {
    .container {
        width: 80%;
    }

    header h1 {
        font-size: 32px;
    }

    header p {
        font-size: 18px;
    }

    .section-title {
        font-size: 22px;
    }

    .section {
        margin-bottom: 30px;
    }
}

@media (min-width: 1024px) {
    .main-content {
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .infos {
    }

    .contact {
        padding: 0 5rem;
    }

    .contact-panel {
        top: 15vh;
        position: sticky;
    }

    nav {
        display: flex;
        background-color: #003064;
        width: 100vw;
        height: 14vh;
        justify-content: center;
        gap: 20rem;
        align-items: center;
    }

    .nav-element {
        font-size: x-large;
    }
    
    .nav-element a {
        font-weight: bold;
        text-decoration: none;
        color: white;
    }
    
    .nav-element a:hover {
        color: orange;
    }

    .container {
        width: 70%;
    }

    header h1 {
        font-size: 36px;
    }

    header p {
        font-size: 20px;
    }

    .section-title {
        font-size: 24px;
    }

    .list li {
        font-size: 16px;
    }
}